# deps
node_modules/

# build
dist/
build/

# test outputs
test-results/
playwright-report/
playwright/.cache/
allure-results/
allure-report/
blob-report/

# env
.env
.env.local
.env.*.local

# editor
.vscode/
.idea/
*.swp
.DS_Store

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# lockfiles from other pms
bun.lockb
yarn.lock
pnpm-lock.yaml
